<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JohnOS10.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <JohnOS10.My.MySettings>
            <setting name="BackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImageLayout" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clock" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="titleBarColor" serializeAs="String">
                <value>0, 102, 204</value>
            </setting>
            <setting name="xButtonColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="minButtonColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="notifBarColor" serializeAs="String">
                <value>15, 143, 234</value>
            </setting>
            <setting name="backColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="startButtonColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="titleBarTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="startButtonTextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="taskbarColor" serializeAs="String">
                <value>0, 102, 204</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>59, 110, 165</value>
            </setting>
            <setting name="browserPatched" serializeAs="String">
                <value>False</value>
            </setting>
        </JohnOS10.My.MySettings>
    </userSettings>
</configuration>
